# Database
DATABASE_URL="postgres://998356472c10f63ae8c3f65ea69ed403d48444fe8465271e125c8741bd57b00ef7:sk_4xraQudxS81jl_4q_NicS@db.prisma.io:5432/?sslmode=require"

# NextAuth.js Authentication
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="YEEQ0xm4wQfd1Z3vvbdF7VQ=="

# Email Provider (for authentication)
EMAIL_SERVER_HOST="smtp.gmail.com"
EMAIL_SERVER_PORT=587
EMAIL_SERVER_USER="statuspage@gmail.com"
EMAIL_SERVER_PASSWORD="re_fdsaFUd654_xASpCMeuN5BeeBopZabciYCLw"
EMAIL_FROM="statuspage@gmail.com"


# AWS S3 Storage
AWS_ACCESS_KEY_ID="your-aws-access-key"
AWS_SECRET_ACCESS_KEY="your-aws-secret-key"
AWS_REGION="us-east-1"
AWS_S3_BUCKET="your-s3-bucket-name"

# Cubbit Storage (redundant with S3)
CUBBIT_ACCESS_KEY="Q++uIbHw5fG7sd8cxo94Nb4YRRW6/7hK4jphv"
CUBBIT_SECRET_KEY="yMId1LmccjfxkxLMQbiuUhs41Wk5tgrjTOKlzdbFt9jTbHhDQ="
CUBBIT_BUCKET="status-page"
CUBBIT_ENDPOINT="https://s3.cubbit.eu"


# Strapi CMS Integration
STRAPI_URL="https://strapi-cms-18tg.onrender.com"
STRAPI_API_TOKEN="b0d7eef6edf5275930f39edd532c7442d7fd5dd037f17385b14dc423ef92d45c1e3bcc6ab216e37a022f9b0d118014285d78bcc201f158663a49618ec35b8e7f722c120fdcffab97f9e71b82ca3e3a1847880d8512aa4d83f8e600632265d8c499567dfa89e00c2d74f514c15a875bfa70695a28d448b697681587c3f12e24b9"