# Database
DATABASE_URL='postgresql://neondb_owner:npg_4ZRkOXmJHD7I@ep-blue-bonus-a2v4h8lw-pooler.eu-central-1.aws.neon.tech/Prism?sslmode=require&channel_binding=require'

# NextAuth.js Authentication
NEXTAUTH_URL="https://your-frontend-domain.vercel.app"
NEXTAUTH_SECRET="YEEQ0xm4wQfd1Z3vvbF7VQ=="

# Email Provider (for authentication)
EMAIL_SERVER_HOST="smtp.resend.com"
EMAIL_SERVER_PORT=587
EMAIL_SERVER_USER="resend"
EMAIL_SERVER_PASSWORD="re_faFUd654_ASpCMeuN5BeeBopZabciYCLw"
EMAIL_FROM="onboarding@resend.dev"

# AWS S3 Storage
AWS_ACCESS_KEY_ID="your-aws-access-key"
AWS_SECRET_ACCESS_KEY="your-aws-secret-key"
AWS_REGION="us-east-1"
AWS_S3_BUCKET="your-s3-bucket-name"

# Cubbit Storage (redundant with S3)
CUBBIT_ACCESS_KEY="Q++uIbHw5fG7o94Nb4YRRW6/7hK4jphv"
CUBBIT_SECRET_KEY="yMId1LmcLMQbiuUhs41Wk5tgrjTOKlzdbFt9jTbHhDQ="
CUBBIT_BUCKET="status-page"
CUBBIT_ENDPOINT="https://s3.cubbit.eu"

# Tolgee i18n
NEXT_PUBLIC_TOLGEE_API_KEY=tgpak_giydqobyl5wxa4lponwgqnttgrug62lhgiywg2zwojugu3bxoyzq
NEXT_PUBLIC_TOLGEE_API_URL=https://app.tolgee.io

# Strapi CMS Integration
# For Development:
# STRAPI_URL="http://localhost:1337"
# For Production (after deploying Strapi):
STRAPI_URL="https://your-strapi-production-url.com"
STRAPI_API_TOKEN="b0d7eef6edf5275930f39edd532c7442d7fd5dd037f17385b14dc423ef92d45c1e3bcc6ab216e37a022f9b0d118014285d78bcc201f158663a49618ec35b8e7f722c120fdcffab97f9e71b82ca3e3a1847880d8512aa4d83f8e600632265d8c499567dfa89e00c2d74f514c15a875bfa70695a28d448b697681587c3f12e24b9"